:root {
    --ee-dark-blue: #2C6A8B;
    --ee-light-blue: #38B6FA;
    --ee-nav-background: #1E4A61;
    --ee-nav-background2: #1A3F53;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
    border: 5px solid var(--ee-light-blue);
    font-size: 1.3em;
}

.heading {
    color:  var(--ee-dark-blue);
}

.description {
    padding-bottom: 10px;
    color:  var(--ee-dark-blue);
}

.button {
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: var(--ee-nav-background2);
    color: var(--ee-light-blue);
    border: 5px solid var(--ee-light-blue);
    cursor: pointer;
}

.button p { 
    padding: 0px auto;
}

.question {
    display: inline-block;
    margin: 5px auto;
}

.answer {
    width: 80%;
    margin-bottom: 20px;
}